@using WAF.Engine.Query.Native;

@model Article
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithoutPicturesLayout.cshtml";

    var orderRef = ViewBag.OrderRef != null ? (string)ViewBag.OrderRef : "";
    string refText = "";
    List<Order> orders = WAFContext.Session.Query<Order>().Where(AqlOrder.OrderReference == Request["orderref"].ToString()).Execute();
}
@section header{
}
@section sideRow{
}

<div id="payment-progress">
    <ul>
        <li>Your details</li>
        <li>Payment and shipping</li>
        <li class="active">Order completed</li>
    </ul>
</div>
<div style="clear: both">
</div>
@if (orders.Count > 0)
{
    Order order = orders[0];
    refText = "Order reference: " + order.OrderReference + "<br><br>Order total: " + order.OrderTotal.ToString("N2");
    <h1>
        Order received!
    </h1>
    <p style="color: red; font-weight: bold;">
        This is a demo site, and orders are not real!
    </p>
    @Html.Raw(refText)
}
