@model DemoShop
@inject WAFNativeContext wafContext

@{
    Layout = "~/Views/Shared/Layouts/_OneColumnLayout.cshtml";
    var cats = Model.ProductCategories.Get();
}




<div id="main-column">
    <div id="main-text-full">


    <h1>@Model.Name</h1>
    <p>@Model.Ingress</p>


    <ul class="categories-list">
        @foreach(var cat in cats) {
            <li>
                @cat.Name

               
            </li>           
        }
    </ul>
</div>
</div>


