@using WAF.Engine.Property
@model ModulePictureSeries

<div class="module-wrapper">
    <div class="module image-series-module">
        @if (!string.IsNullOrEmpty(Model.ParagraphTitle))
        {
            <h2>@Model.ParagraphTitle</h2>
        }
        <div class="series-container">
            @{
                var adjust = new ImageAdjustments();
                adjust.CanvasX = 1240;
                adjust.CanvasY = 776;
                adjust.ZoomMode = AutoZoomMode.Fit;
                adjust.BackgroundColor = WAF.Drawing.WColor.White;
            }
            @foreach (InnerFile imgFile in Model.Pictures.GetAll())
            {
                if (imgFile.File.IsImage())
                {
                    <a class="series-thumb" href="@imgFile.File.GetUrl(adjust)" rel="prettyPhoto[pic-series]"><img src="@imgFile.File.GetUrl(340,217)" alt="" itemprop="contentURL" class="picture-series-picture" /></a>
                }
            }
        </div>
    </div>
</div>